/* fonts */
@import '@fontsource/atkinson-hyperlegible';
@import '@fontsource/monaspace-neon';
@import '@fontsource-variable/jetbrains-mono';

/* presentation */
@import '@animotion/core/theme';

/* tailwind */
@import 'tailwindcss/theme';
@import 'tailwindcss/utilities';
@source "../../node_modules/@animotion/core/dist/components/*.svelte";

/* reset */
*,
*::before,
*::after {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/* defaults */
:root {
	--view-transition-duration: 250ms;
	color-scheme: dark;
	--r-background-color: var(--color-zinc-950);
	--r-main-font: 'Atkinson Hyperlegible', sans-serif;
	--r-main-font-size: 42px;
	--r-main-color: var(--color-orange-200);
	--r-heading-font: var(--font-family-calistoga);
	--r-code-font: 'JetBrains Mono Variable';
	--r-link-color: #ff3e00;
	--ease: linear(
		0 0%,
		0.0036 9.62%,
		0.0185 16.66%,
		0.0489 23.03%,
		0.0962 28.86%,
		0.1705 34.93%,
		0.269 40.66%,
		0.3867 45.89%,
		0.5833 52.95%,
		0.683 57.05%,
		0.7829 62.14%,
		0.8621 67.46%,
		0.8991 70.68%,
		0.9299 74.03%,
		0.9545 77.52%,
		0.9735 81.21%,
		0.9865 85%,
		0.9949 89.15%,
		1 100%
	);
}

/* code block background */
div:has(> pre) {
	padding: --spacing(4) --spacing(8);
	background-color: oklch(24% 0.02 272);
	border-top: 1px solid oklch(34% 0.02 272);
	border-radius: var(--radius-lg);
}

/* for animations */
.hidden {
	display: none;
}

pre {
	padding: 2rem;
	border-radius: 1rem;
}

/* view transitions */
html {
	view-transition-name: none;
}

/* all view transitions */
::view-transition-group(*) {
	animation-duration: var(--view-transition-duration);
}

/* entry transition */
::view-transition-new(*):only-child {
	animation: scale-in var(--view-transition-duration);
}

/* exit transition */
::view-transition-old(*):only-child {
	animation: scale-out var(--view-transition-duration);
}

@keyframes scale-in {
	from {
		scale: 0;
		opacity: 0;
	}
}

@keyframes scale-out {
	to {
		scale: 0;
		opacity: 0;
	}
}

@keyframes rotate {
	from {
		opacity: 0;
	}
	20% {
		rotate: 0deg;
	}
	40% {
		opacity: 1;
	}
	to {
		rotate: 360deg;
	}
}

.xterm-screen {
	text-align: left;
}
